.container {
  max-width: 1000px;
  margin: 0 auto;
}

.tasks {
  width: 600px;
  margin: 0 auto;
  text-align: left;
  list-style-type: none;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.createTask {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.createTaskInput {
  width: 400px;
  padding: 4px;
  border: none;
}

.taskHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 8px;
}

.authorName {
  display: flex;
  gap: 8px;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px 16px;
  border-bottom: 1px solid #eee;
}

.label > label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.postBtn {
  display: flex;
  align-self: flex-end;
  padding: 2px;
}

.taskImage {
  width: 70%;
  border: 1px solid #eee;
  border-radius: 8px;
}

@media screen and (max-width: 640px) {
  .tasks {
    width: 100%;
    border: none;
  }

  .labelInput,
  .createTaskInput {
    width: 100%;
  }
}
