.editGroup,
.btnGroup {
  display: flex;
  gap: 8px;
}

.labelInput {
  width: 400px;
  padding: 2px;
}

.btn {
  padding: 2px;
}

@media screen and (max-width: 640px) {
  .labelInput {
    width: 100%;
  }
}
